<br>
<br><br><br>
<div class="row padding">
  <div ng-repeat="(id,item) in vm.dados"  class="list card" >
    <div class="cd-timeline-block">
     
       <div class="list">
                <h2>{{id}}</h2>
                <p>{{item.titulo}}</p>
            </div>
             <div class="item item-body">
                 <p class="item item-body" ng-repeat="(id,valor) in item.epigrafo">{{id}}{{valor}}</p>

              </div>
     
     
    </div>
     <ion-infinite-scroll 
            ng-if="vm.canWeLoadMoreContent()"
            on-infinite="vm.loadMore()"  
            distance="1%">
        </ion-infinite-scroll>     
  </div>
</div>


