<ion-view>
<ion-content class="animate-fade-slide-in">
          <div class="item card-item">
            <div  class="card stable-bg ink ink-dark" ng-repeat="(id,item) in vm.dados track by id">
                <div class="item item-avatar item-text-wrap">
                   <h2 id="text-title">Artigo {{item.artigo}}
                    </h2>
                    <h2 id="text-title">{{item.titulo}}
                    </h2>
                    <br />
                    
                    <div class="card-footer green-select" ng-repeat-start="(id,valor) in item.epigrafo">
                      
                        <div class="pull-left">
                          
                         {{id}}     {{valor}}
                    </div>
                </div>
                 <br><br ng-repeat-end />
            </div>
        </div>
          </div>
    <ion-infinite-scroll
    ng-show="vm.dados.length"
    on-infinite="vm.loadMore()"
        distance="1%"
        immediate-check="true"
     
        >
  </ion-infinite-scroll>
</ion-content>
</ion-view>
  

