<div class="item card-item">
  <div class="card stable-bg ink ink-dark">
    <div class="item item-avatar item-text-wrap">
      <h2 id="text-title">Artigo {{vm.artigo.artigo}}
      </h2>
      <h2 id="text-title">{{vm.artigo.titulo}}
      </h2>
      <br />

      <div class="card-footer green-select" ng-repeat-start="(id,valor) in vm.artigo.epigrafo">

        <div class="pull-left">

          {{id}} {{valor}}
        </div>
      </div>
      <br><br ng-repeat-end />
    </div>
  </div>
</div>