<ion-view title="Constituição Eletronica v1.0.0">
  
  <ion-content class="has-header">
    
        <ion-header-bar class="bar-dark">

         <div class="row">
            <div class="col text-center">
                <button id='selecionar'  class="button button-light" modal-select="" cancel-button="Cancelar" hide-reset="true" hide-clear="true" ng-model="someModel" options="selectables" has-search="true" modal-title="Selecione o artigo" header-footer-class="bar-dark" search-placeholder="Procurar" on-select="alterado(newValue, oldValue)">
                Artigos
                  <div class="option" > Artigo {{option}}</div>
                </button>
            </div> 
         
           

          </div>
      </ion-header-bar>

     
      </ion-content>
        
  
</ion-view>
  
    